@font-face {
    font-family: 'Great Vibes';
    src: url('fonts/great_vibes_regular-webfont.woff2') format('woff2'),
         url('fonts/great_vibes_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

label, input{
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.left, .right{
    display: flex;
    flex-direction: column;
}

.left{
    width: 100vw;
    height: 100vh;
    max-width: 30%;
    min-width: 30%;
    background-image: url(matthew-mcbrayer-qD9xzm7yK9U-unsplash.jpg);
    background-size: cover;
}

.right{
    display: flex;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Great Vibes';
    margin: 0 0 auto 15px;
    padding: 0;
}

.logo_container{
    margin-top: 10vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.title_container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.text{
    margin-top:15vh;
}

.img_cred{
   color: white;
   text-align: center;
   margin-top:auto;
   margin-bottom: 10px
}

button{
    margin: 40px auto 40px 50px;
    color: white;
    background-color: rgb(52, 117, 190);
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 5px 5px 2.6px;
    width: 240px;
    height: 60px;
    font-size: x-large;
    font-weight: bold;
}

.login{
    color: rgb(97, 121, 187);
}

label{
    color: rgb(44, 38, 38);
    font-weight: bold;
    font-size: small;
}

p{
    font-weight: bold;
    font-size: x-large;
    margin: 0 460px 20px 50px;
}

.login_option{
    margin-left: 50px;
}

form{
    padding: 30px 400px 30px 50px;
    margin: 0;
    width: 100%;
    border-top: solid rgb(247, 247, 247) 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.form_title{
    color:rgb(9, 81, 109);
    margin-left: 0;
}

.form_column_container{
    display: flex;
}

.form_left{
    margin-right: 8%;
}

label{
    display: inline;
}

.required{
    color: rgb(168, 6, 6);
}

input{
    width: 222px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: large;
    border-radius: 8px;
}

.img_link{
    color: white;
    text-decoration: underline;
}

/*input:valid{
    border-color: green;
    background-color: rgb(235, 255, 235);
}*/

input:invalid{
    border-color: red;
    background-color: rgb(255, 230, 230);
}

input:focus{
    outline: none;
    border: solid rgb(11, 59, 216);
    box-shadow: rgba(0, 0, 0, 0.45) 3.5px 3.5px 3.6px;
}