*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    border: dotted black 2px;
}

body{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.left, .right{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.left{
    width: 30vw;
    height: 100vh;
    background-image: url(matthew-mcbrayer-qD9xzm7yK9U-unsplash.jpg);
    background-size: cover;
}

.right{
    display: flex;
    padding: 20px;
}