*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div, p{
    border: dotted black 2px;
}

body{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.left, .right{
    display: flex;
    flex-direction: column;
}

.left{
    width: 100vw;
    height: 100vh;
    max-width: 30%;
    background-image: url(matthew-mcbrayer-qD9xzm7yK9U-unsplash.jpg);
    background-size: cover;
}

.right{
    display: flex;
    padding: 20px;
}

h1{
    color: white;
    text-align: center;
    font-size: 64px;
}

.title_container{
    margin-top: 10vw;
    padding: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    margin-top:15vh;
}

.photo_cred{
   color: white;
   text-align: center;
   margin-top:auto; 
}